In [1]:
import pandas as pd
import numpy as np

In [2]:
label_df = pd.read_csv("client_train.csv")

In [3]:
target_good = 4
num_bad_candidates = label_df["target"].value_counts()[1.0]
num_good_candidates = target_good * num_bad_candidates

In [4]:
bad_clients = label_df[label_df["target"]==1.0]["client_id"].tolist()
good_clients = label_df[label_df["target"]==0.0]["client_id"].tolist()

In [5]:
import random
rnd_seed = 35
random.Random(rnd_seed).shuffle(good_clients)

In [6]:
short_good_clients = good_clients[:num_good_candidates]

In [7]:
clients = short_good_clients + bad_clients
targets = [0]*num_good_candidates + [1]*num_bad_candidates

In [8]:
clients_df = pd.DataFrame({"client": clients, "target": targets})
clients_df = clients_df.sort_values("client")
clients_df.to_csv("targets.csv", index = False)

In [9]:
# df_1 = pd.read_csv("invoice_train.csv", nrows = chunk_size)
# df_2 = pd.read_csv("invoice_train.csv", nrows = chunk_size, skip_rows = chunk_size)
# df_3 = pd.read_csv("invoice_train.csv", nrows = chunk_size, skip_rows = chunk_size*2)
# df_4 = pd.read_csv("invoice_train.csv", nrows = chunk_size, skip_rows = chunk_size*3)
# df_5 = pd.read_csv("invoice_train.csv", nrows = chunk_size, skip_rows = chunk_size*4)

In [10]:
chunk_size = 1000000
reading_iters = 5
data_df = pd.DataFrame()
for i in range(0, reading_iters):
    if i == 0:
        read_df = pd.read_csv("invoice_train.csv", header = 0, nrows = chunk_size )
    else:
        read_df = pd.read_csv("invoice_train.csv", header = 0, nrows = chunk_size, skiprows = range(1, chunk_size * i) )
    filter_df = read_df[read_df["client_id"].isin(clients)]
    data_df = pd.concat([data_df, filter_df])

C:\Users\aaalshan\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
72,train_Client_10,2010-02-15,11,572765,0,203,8,1,407,0,0,0,31955,32362,4,ELEC
73,train_Client_10,2015-03-06,11,572765,0,203,8,1,815,0,0,0,37913,38728,8,ELEC
74,train_Client_10,2009-02-13,11,572765,0,203,6,1,569,0,0,0,30414,30983,4,ELEC
75,train_Client_10,2019-05-02,11,572765,0,207,9,1,2400,682,0,0,41532,44614,12,ELEC
76,train_Client_10,2017-05-30,11,572765,0,203,8,1,188,0,0,0,40634,40822,4,ELEC

In [12]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324208 entries, 72 to 476749
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   client_id             1324208 non-null  object
 1   invoice_date          1324208 non-null  object
 2   tarif_type            1324208 non-null  int64
 3   counter_number        1324208 non-null  int64
 4   counter_statue        1324208 non-null  object
 5   counter_code          1324208 non-null  int64
 6   reading_remarque      1324208 non-null  int64
 7   counter_coefficient   1324208 non-null  int64
 8   consommation_level_1  1324208 non-null  int64
 9   consommation_level_2  1324208 non-null  int64
 10  consommation_level_3  1324208 non-null  int64
 11  consommation_level_4  1324208 non-null  int64
 12  old_index             1324208 non-null  int64
 13  new_index             1324208 non-null  int64
 14  months_number         1324208 non-null  int64
 15  counter_type          1324208 non-null  object
dtypes: int64(12), object(4)
memory usage: 171.7+ MB

In [13]:
data_df["months_number"].value_counts()

4         1077855
8           82116
2           81360
1           43747
12          15736
           ...
239116          1
229890          1
57964           1
81480           1
363697          1
Name: months_number, Length: 608, dtype: int64

In [14]:
#data_df["consumption"] = data_df["consommation_level_1"] + data_df["consommation_level_2"] + data_df["consommation_level_3"] + data_df["consommation_level_4"]
data_df["invoice_date"] = pd.to_datetime(data_df["invoice_date"], format="%Y-%m-%d")
data_df = data_df.sort_values(["client_id", "invoice_date"])
data_df = data_df.drop(["new_index", "counter_number", "months_number"], axis=1)

In [15]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type
89,train_Client_10,2005-11-10,11,0,203,6,1,459,0,0,0,25515,ELEC
88,train_Client_10,2006-06-19,11,0,203,6,1,931,0,0,0,25974,ELEC
86,train_Client_10,2007-06-18,11,0,203,6,1,1355,0,0,0,26905,ELEC
85,train_Client_10,2007-10-16,11,0,203,6,1,476,0,0,0,28260,ELEC
84,train_Client_10,2008-02-15,11,0,203,6,1,761,0,0,0,28736,ELEC

In [16]:
data_df["counter_statue"].value_counts()

0    1284422
1      21430
0      10704
5       6483
4        876
1        154
3         51
5         49
4         32
2          7
Name: counter_statue, dtype: int64

In [17]:
data_df["counter_coefficient"].value_counts()

1     1323982
30        137
3          56
2          19
4           5
20          3
0           3
33          1
10          1
5           1
Name: counter_coefficient, dtype: int64

In [18]:
label_df.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0           11     101    31/12/1994     0.0
1       69     train_Client_1           11     107    29/05/2002     0.0
2       62    train_Client_10           11     301    13/03/1986     0.0
3       69   train_Client_100           11     105    11/07/1996     0.0
4       62  train_Client_1000           11     303    14/10/2014     0.0

In [19]:
data_df = data_df.merge(label_df, how="left", on="client_id")

In [20]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target
0,train_Client_10,2005-11-10,11,0,203,6,1,459,0,0,0,25515,ELEC,62,11,301,13/03/1986,0.0
1,train_Client_10,2006-06-19,11,0,203,6,1,931,0,0,0,25974,ELEC,62,11,301,13/03/1986,0.0
2,train_Client_10,2007-06-18,11,0,203,6,1,1355,0,0,0,26905,ELEC,62,11,301,13/03/1986,0.0
3,train_Client_10,2007-10-16,11,0,203,6,1,476,0,0,0,28260,ELEC,62,11,301,13/03/1986,0.0
4,train_Client_10,2008-02-15,11,0,203,6,1,761,0,0,0,28736,ELEC,62,11,301,13/03/1986,0.0

In [21]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target
0,train_Client_10,2005-11-10,11,0,203,6,1,459,0,0,0,25515,ELEC,62,11,301,13/03/1986,0.0
1,train_Client_10,2006-06-19,11,0,203,6,1,931,0,0,0,25974,ELEC,62,11,301,13/03/1986,0.0
2,train_Client_10,2007-06-18,11,0,203,6,1,1355,0,0,0,26905,ELEC,62,11,301,13/03/1986,0.0
3,train_Client_10,2007-10-16,11,0,203,6,1,476,0,0,0,28260,ELEC,62,11,301,13/03/1986,0.0
4,train_Client_10,2008-02-15,11,0,203,6,1,761,0,0,0,28736,ELEC,62,11,301,13/03/1986,0.0

In [22]:
data_df["creation_date"] = pd.to_datetime(data_df["creation_date"], format="%d/%m/%Y")
data_df["days_since_previous_invoice"] = data_df.groupby("client_id")["invoice_date"].diff().dt.days

In [23]:
data_df.tail()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target,days_since_previous_invoice
1324203,train_Client_99996,2019-06-18,40,0,5,9,1,137,0,0,0,1289,GAZ,63,11,311,2012-10-25,0.0,124.0
1324204,train_Client_99996,2019-06-18,11,0,207,9,1,365,0,0,0,5860,ELEC,63,11,311,2012-10-25,0.0,0.0
1324205,train_Client_99999,1996-01-25,11,0,203,6,1,516,0,0,0,12765,ELEC,60,11,101,1986-02-18,0.0,NaN
1324206,train_Client_99999,1996-05-28,11,0,203,6,1,603,0,0,0,13281,ELEC,60,11,101,1986-02-18,0.0,124.0
1324207,train_Client_99999,1996-09-25,11,0,203,6,1,259,0,0,0,13884,ELEC,60,11,101,1986-02-18,0.0,120.0

In [24]:
(data_df.loc[1324207, "invoice_date"].year - data_df.loc[1324207, "creation_date"].year) * 12 + (data_df.loc[1324207, "invoice_date"].month - data_df.loc[1324207, "creation_date"].month)

127

In [25]:
grp_acc_crt = data_df.groupby("client_id").apply(lambda x: (x["invoice_date"].dt.year - x["creation_date"].dt.year)*12 + (x["invoice_date"].dt.month - x["creation_date"].dt.month)).reset_index()

In [26]:
grp_acc_crt

                  client_id  level_1    0
0           train_Client_10        0  236
1           train_Client_10        1  243
2           train_Client_10        2  255
3           train_Client_10        3  259
4           train_Client_10        4  263
...                     ...      ...  ...
1324203  train_Client_99996  1324203   80
1324204  train_Client_99996  1324204   80
1324205  train_Client_99999  1324205  119
1324206  train_Client_99999  1324206  123
1324207  train_Client_99999  1324207  127

[1324208 rows x 3 columns]

In [27]:
grp_acc_crt = grp_acc_crt.set_index("level_1")
grp_acc_crt = grp_acc_crt.drop("client_id", axis = 1)
grp_acc_crt.index.name = None
grp_acc_crt.columns = ["months_since_acc_creation"]

In [28]:
data_df = data_df.join(grp_acc_crt, how="left")

In [29]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target,days_since_previous_invoice,months_since_acc_creation
0,train_Client_10,2005-11-10,11,0,203,6,1,459,0,0,0,25515,ELEC,62,11,301,1986-03-13,0.0,NaN,236
1,train_Client_10,2006-06-19,11,0,203,6,1,931,0,0,0,25974,ELEC,62,11,301,1986-03-13,0.0,221.0,243
2,train_Client_10,2007-06-18,11,0,203,6,1,1355,0,0,0,26905,ELEC,62,11,301,1986-03-13,0.0,364.0,255
3,train_Client_10,2007-10-16,11,0,203,6,1,476,0,0,0,28260,ELEC,62,11,301,1986-03-13,0.0,120.0,259
4,train_Client_10,2008-02-15,11,0,203,6,1,761,0,0,0,28736,ELEC,62,11,301,1986-03-13,0.0,122.0,263

In [30]:
#data_df = data_df.drop(["invoice_date", "creation_date", "target"], axis = 1)

In [31]:
data_df.describe()

,tarif_type,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,disrict,client_catg,region,target,days_since_previous_invoice,months_since_acc_creation
count,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.324208e+06,1.286378e+06,1.324208e+06
mean,2.025715e+01,1.725996e+02,7.321801e+00,1.003185e+00,4.152688e+02,1.150730e+02,2.311134e+01,6.049170e+01,1.877862e+04,6.362777e+01,1.230907e+01,2.113651e+02,2.666590e-01,9.308717e+01,1.669032e+02
std,1.352044e+01,1.351177e+02,1.358412e+00,2.981313e-01,6.221932e+02,1.195045e+03,1.847334e+02,8.989202e+02,4.284750e+04,3.307692e+00,7.076982e+00,1.036136e+02,4.422128e-01,1.135928e+02,1.222185e+02
min,8.000000e+00,5.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+01,1.100000e+01,1.010000e+02,0.000000e+00,0.000000e+00,-1.000000e+01
25%,1.100000e+01,5.000000e+00,6.000000e+00,1.000000e+00,8.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.884000e+03,6.200000e+01,1.100000e+01,1.030000e+02,0.000000e+00,0.000000e+00,6.300000e+01
50%,1.100000e+01,2.030000e+02,8.000000e+00,1.000000e+00,2.700000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.931000e+03,6.300000e+01,1.100000e+01,3.010000e+02,0.000000e+00,8.500000e+01,1.400000e+02
75%,4.000000e+01,2.070000e+02,9.000000e+00,1.000000e+00,6.010000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.229000e+04,6.900000e+01,1.100000e+01,3.090000e+02,1.000000e+00,1.260000e+02,2.590000e+02
max,4.500000e+01,6.000000e+02,9.000000e+00,3.300000e+01,1.261180e+05,9.990730e+05,6.449200e+04,5.479460e+05,1.476203e+06,6.900000e+01,5.100000e+01,3.990000e+02,1.000000e+00,3.740000e+03,5.140000e+02

In [32]:
sanity_df = data_df[data_df["months_since_acc_creation"] < 0]

In [33]:
sanity_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3303 entries, 496 to 1323451
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   client_id                    3303 non-null   object
 1   invoice_date                 3303 non-null   datetime64[ns]
 2   tarif_type                   3303 non-null   int64
 3   counter_statue               3303 non-null   object
 4   counter_code                 3303 non-null   int64
 5   reading_remarque             3303 non-null   int64
 6   counter_coefficient          3303 non-null   int64
 7   consommation_level_1         3303 non-null   int64
 8   consommation_level_2         3303 non-null   int64
 9   consommation_level_3         3303 non-null   int64
 10  consommation_level_4         3303 non-null   int64
 11  old_index                    3303 non-null   int64
 12  counter_type                 3303 non-null   object
 13  disrict                      3303 non-null   int64
 14  client_catg                  3303 non-null   int64
 15  region                       3303 non-null   int64
 16  creation_date                3303 non-null   datetime64[ns]
 17  target                       3303 non-null   float64
 18  days_since_previous_invoice  1286 non-null   float64
 19  months_since_acc_creation    3303 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(13), object(3)
memory usage: 541.9+ KB

In [34]:
sanity_df.head(10)

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target,days_since_previous_invoice,months_since_acc_creation
496,train_Client_100074,2014-01-12,11,0,207,9,1,41,0,0,0,36,ELEC,63,11,312,2014-04-07,0.0,NaN,-3
497,train_Client_100074,2014-01-12,40,0,5,9,1,60,0,0,0,8,GAZ,63,11,312,2014-04-07,0.0,0.0,-3
2116,train_Client_100235,2011-02-11,11,0,203,6,1,36,0,0,0,6,ELEC,62,11,302,2011-05-17,1.0,NaN,-3
3355,train_Client_100344,2016-01-12,11,0,207,6,1,70,0,0,0,0,ELEC,62,11,302,2016-08-04,0.0,NaN,-7
3364,train_Client_100347,2009-05-10,40,0,5,6,1,14,0,0,0,0,GAZ,62,11,301,2009-06-23,0.0,NaN,-1
3365,train_Client_100347,2009-05-10,11,0,207,6,1,0,0,0,0,0,ELEC,62,11,301,2009-06-23,0.0,0.0,-1
3559,train_Client_100358,2010-06-10,11,1,203,6,1,405,0,0,0,0,ELEC,60,11,101,2010-08-14,0.0,NaN,-2
4026,train_Client_100403,2007-05-12,11,1,203,6,1,378,0,0,0,19742,ELEC,63,11,312,2007-10-26,0.0,NaN,-5
4518,train_Client_100439,2008-01-09,40,0,5,6,1,0,0,0,0,16,GAZ,69,11,103,2008-02-15,1.0,NaN,-1
4519,train_Client_100439,2008-01-09,11,0,207,9,1,936,0,0,0,32,ELEC,69,11,103,2008-02-15,1.0,0.0,-1

In [35]:
one_acc_df = data_df[data_df["client_id"] == "train_Client_100074"]

In [36]:
one_acc_df.head(40)

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target,days_since_previous_invoice,months_since_acc_creation
496,train_Client_100074,2014-01-12,11,0,207,9,1,41,0,0,0,36,ELEC,63,11,312,2014-04-07,0.0,NaN,-3
497,train_Client_100074,2014-01-12,40,0,5,9,1,60,0,0,0,8,GAZ,63,11,312,2014-04-07,0.0,0.0,-3
498,train_Client_100074,2014-07-24,11,0,207,9,1,36,0,0,0,0,ELEC,63,11,312,2014-04-07,0.0,193.0,3
499,train_Client_100074,2014-07-24,40,0,5,9,1,8,0,0,0,0,GAZ,63,11,312,2014-04-07,0.0,0.0,3
500,train_Client_100074,2015-03-30,40,0,5,9,1,158,0,0,0,68,GAZ,63,11,312,2014-04-07,0.0,249.0,11
501,train_Client_100074,2015-03-30,11,0,207,9,1,800,173,0,0,77,ELEC,63,11,312,2014-04-07,0.0,0.0,11
502,train_Client_100074,2015-07-23,40,0,5,9,1,17,0,0,0,226,GAZ,63,11,312,2014-04-07,0.0,115.0,15
503,train_Client_100074,2015-07-23,11,0,207,9,1,168,0,0,0,1050,ELEC,63,11,312,2014-04-07,0.0,0.0,15
504,train_Client_100074,2015-11-25,40,0,5,9,1,77,0,0,0,243,GAZ,63,11,312,2014-04-07,0.0,125.0,19
505,train_Client_100074,2015-11-25,11,0,207,9,1,350,0,0,0,1218,ELEC,63,11,312,2014-04-07,0.0,0.0,19
506,train_Client_100074,2016-03-24,40,0,5,9,1,80,0,0,0,320,GAZ,63,11,312,2014-04-07,0.0,120.0,23
507,train_Client_100074,2016-03-24,11,0,207,9,1,229,0,0,0,1568,ELEC,63,11,312,2014-04-07,0.0,0.0,23
508,train_Client_100074,2016-07-26,40,0,5,9,1,47,0,0,0,400,GAZ,63,11,312,2014-04-07,0.0,124.0,27
509,train_Client_100074,2016-07-26,11,0,207,9,1,303,0,0,0,1797,ELEC,63,11,312,2014-04-07,0.0,0.0,27
510,train_Client_100074,2016-11-23,11,0,207,9,1,259,0,0,0,2100,ELEC,63,11,312,2014-04-07,0.0,120.0,31
511,train_Client_100074,2016-11-23,40,0,5,9,1,40,0,0,0,447,GAZ,63,11,312,2014-04-07,0.0,0.0,31
512,train_Client_100074,2017-03-23,40,0,5,9,1,115,0,0,0,487,GAZ,63,11,312,2014-04-07,0.0,120.0,35
513,train_Client_100074,2017-03-23,11,0,207,9,1,309,0,0,0,2359,ELEC,63,11,312,2014-04-07,0.0,0.0,35
514,train_Client_100074,2017-07-21,40,0,5,9,1,58,0,0,0,602,GAZ,63,11,312,2014-04-07,0.0,120.0,39
515,train_Client_100074,2017-07-21,11,0,207,9,1,333,0,0,0,2668,ELEC,63,11,312,2014-04-07,0.0,0.0,39
516,train_Client_100074,2017-11-22,40,0,5,9,1,60,0,0,0,660,GAZ,63,11,312,2014-04-07,0.0,124.0,43
517,train_Client_100074,2017-11-22,11,0,207,9,1,376,0,0,0,3001,ELEC,63,11,312,2014-04-07,0.0,0.0,43
518,train_Client_100074,2018-03-23,40,0,5,9,1,148,0,0,0,720,GAZ,63,11,312,2014-04-07,0.0,121.0,47
519,train_Client_100074,2018-03-23,11,0,207,9,1,350,0,0,0,3377,ELEC,63,11,312,2014-04-07,0.0,0.0,47
520,train_Client_100074,2018-07-18,40,0,5,9,1,55,0,0,0,868,GAZ,63,11,312,2014-04-07,0.0,117.0,51
521,train_Client_100074,2018-07-18,11,0,207,9,1,363,0,0,0,3727,ELEC,63,11,312,2014-04-07,0.0,0.0,51
522,train_Client_100074,2018-11-28,40,0,5,9,1,52,0,0,0,923,GAZ,63,11,312,2014-04-07,0.0,133.0,55
523,train_Client_100074,2018-11-28,11,0,207,9,1,458,0,0,0,4090,ELEC,63,11,312,2014-04-07,0.0,0.0,55
524,train_Client_100074,2019-03-26,11,0,207,9,1,252,0,0,0,4548,ELEC,63,11,312,2014-04-07,0.0,118.0,59
525,train_Client_100074,2019-03-26,40,0,5,9,1,93,0,0,0,975,GAZ,63,11,312,2014-04-07,0.0,0.0,59
526,train_Client_100074,2019-07-29,11,0,207,9,1,357,0,0,0,4800,ELEC,63,11,312,2014-04-07,0.0,125.0,63
527,train_Client_100074,2019-07-29,40,0,5,9,1,56,0,0,0,1068,GAZ,63,11,312,2014-04-07,0.0,0.0,63

In [37]:
data_df.head()

,client_id,invoice_date,tarif_type,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,counter_type,disrict,client_catg,region,creation_date,target,days_since_previous_invoice,months_since_acc_creation
0,train_Client_10,2005-11-10,11,0,203,6,1,459,0,0,0,25515,ELEC,62,11,301,1986-03-13,0.0,NaN,236
1,train_Client_10,2006-06-19,11,0,203,6,1,931,0,0,0,25974,ELEC,62,11,301,1986-03-13,0.0,221.0,243
2,train_Client_10,2007-06-18,11,0,203,6,1,1355,0,0,0,26905,ELEC,62,11,301,1986-03-13,0.0,364.0,255
3,train_Client_10,2007-10-16,11,0,203,6,1,476,0,0,0,28260,ELEC,62,11,301,1986-03-13,0.0,120.0,259
4,train_Client_10,2008-02-15,11,0,203,6,1,761,0,0,0,28736,ELEC,62,11,301,1986-03-13,0.0,122.0,263

In [59]:
data_df = data_df.drop(["invoice_date", "creation_date", "target"], axis = 1)

In [39]:
all_vcs = dict(data_df["client_id"].value_counts())

In [46]:
short_accs = {key: all_vcs[key] for key in all_vcs if all_vcs[key] <= 1}

In [48]:
len(short_accs)

1012

In [52]:
short_accs_list = list(short_accs)

In [54]:
good_short = [x for x in short_good_clients if x in short_accs_list]
bad_short = [x for x in bad_clients if x in short_accs_list]

In [55]:
len(good_short)

974

In [56]:
len(bad_short)

38

In [60]:
# Ignore clients with only one invoice for now. Can be removed later if needed.
data_df.to_csv("data.csv", index = False)